:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
align-items: center;
}




header {
  width: 1280px;
  height: 80px;

  border-radius: 20px;

  position: sticky;
  top: 3rem;
z-index: 5;
  margin: 2rem auto 0;
}


main {
  width: 1280px;

  flex: 1;
  margin-top: 2rem;
  margin-bottom: 2rem;

}



@media (orientation: portrait) {
  main {
    background-color: rgb(0, 191, 255) !important;
  }
}

footer {
  width: 1280px;

margin:2rem  auto 0;
}

