:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}


header {
  width: 90%;
  height: 80px;

  border-radius: 20px;

  position: sticky;
  top: 3rem;
z-index: 5;
  margin: 2rem auto 0;
}


main {
  width: 100%;
  flex: 1;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

footer {
  width: 100%;
  height: 200px;
  background: #0E0E0E;
}