
header {
    width: 90%;

    height: 80px;
   background: rgba(255, 255, 255, 0.053); /* light glass */


  border-radius: 20px;

position: sticky;
top: 5%;



  margin: 0 auto;
  margin-top: 2rem;





}



main {
    height: 500vh;
}