<section>

  <p class="state" *ngIf="loading">Loading videos…</p>
  <p class="state" *ngIf="!loading && !videos.length">New videos are on the way 🎬</p>

  <div id="video-container">
    <div class="video" *ngFor="let video of videos">
      <div class="video-player" (click)="play(video)">

        <iframe
          *ngIf="playingId === video.id"
          [src]="embedUrl"
          [title]="video.title"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>

        <ng-container *ngIf="playingId !== video.id">
          <img [src]="video.thumbnail" [alt]="video.title">
          <button type="button"><i class="fa-solid fa-play"></i></button>
        </ng-container>

      </div>
      <h4 class="headline">{{ video.title }}</h4>
      <ul class="tags">
        <li *ngFor="let tag of video.tags" [class.newskill]="tag.toLowerCase() === 'newskill'">#{{ tag }}</li>
      </ul>
    </div>
  </div>

</section>
