/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
   /* font-family: "Jersey 10", sans-serif; */

   @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
  /* font-family: "Nunito Sans", sans-serif; */

* {
margin: 0;
padding: 0;
list-style: none;
}



html, body {
  height: 100%;

}

body {
  background-color: black;
}