/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
   /* font-family: "Jersey 10", sans-serif; */

   @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
  /* font-family: "Nunito Sans", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
  /* font-family: "Roboto Mono", monospace; */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  /* font-family: "Inter", sans-serif; */

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    /* font-family: "Montserrat", sans-serif; */


* {
margin: 0;
padding: 0;
list-style: none;
outline: none;
box-sizing: border-box !important;
outline: none;
border: none;

}



html, body {
  height: 100%;
  width: 100%;
  /* nothing is allowed to create page-level horizontal scroll */
  overflow-x: hidden;
}

body {
  background-color: black;
}


.icon{
  border-radius: 50% !important;
}



#title{
    color:#4904A2 ;
  font-family: "Jersey 10", sans-serif;
  font-size: 5rem;
  height: 2rem;
}

@media (max-width: 850px) {
  #title {
    font-size: 3rem;
    height: auto;
  }
}

p{
  color: #fff;
}