
<article id="Article-third">
           <div id="exp-head">
             <h2 id="title">Experience   <i class="fa-solid fa-fire"></i></h2>
             <span id="total-exp">{{ totalYears }} years of experience</span>
           </div>
<div id="experience-container" #slider
     (pointerdown)="dragStart($event)"
     (pointermove)="dragMove($event)"
     (pointerup)="dragEnd()"
     (pointerleave)="dragEnd()">

           <div id="experience" class="nb-card" *ngFor="let job of jobs">
            <div id="experience-settings">


            <h4 id="experience-title"> {{ job.title }}</h4>
            <h4 id="experience-where"> <span>{{ job.org }}</span>-<span>{{ job.type }}</span></h4>
            <p id="experience-time"><span>{{ monthLabel(job.start) }} </span>-<span>{{ job.end ? monthLabel(job.end) : 'present' }} </span> <span> · {{ duration(job) }}</span> </p>
            <p id="experience-time"><span>{{ job.location }} </span><span *ngIf="job.locationTag"> · {{ job.locationTag }}</span> </p>
           </div>
           <p id="experience-about">{{ job.about }}</p>

           <div id="used-skills">
            <i class="fa-solid fa-fire"></i>
            <h5 *ngFor="let skill of job.skills">{{ skill }}</h5>
            <h5 *ngIf="job.moreSkills">+{{ job.moreSkills }} skills</h5>
           </div>

           </div>
</div>

</article>