section {





    padding: 4rem;

}

img{
    width: 200px;
    height: 250px;
    border-radius: 1rem 1rem 0 0;
          object-fit: cover;
  object-position: calc(57% ) center;


        background-color:#0E0E0E;
}

#Article-first {

    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}



#portfolio-text {

    width: 70%;

    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  font-family: "Jersey 10", sans-serif;
    background-color:#0E0E0E;
    padding: 2rem;
    border-radius: 20px;
}

#title{
    color:#4904A2 ;
  font-family: "Jersey 10", sans-serif;
  font-size: 2rem;
  height: 2rem;
}


#portfolio-text p {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: "Nunito Sans", sans-serif;
}


#Social {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: rgb(27, 27, 27);
    margin-top: 1rem;
color: #B5B5B5;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}




.fa-fire {
  color: #4904A2;
}



#Subtext{

    color: rgba(255, 255, 255, 0.533);
  font-family: "Jersey 10", sans-serif;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  letter-spacing: 0.2rem;

}


#Soft-skills,#Tools,#Personal {
    display: flex; 
    flex-wrap: wrap;
    gap: 4rem;
}



div ul h4 {
  margin-bottom: 0.5rem;
display: flex;
align-items: center;
gap: 1rem;
  font-family: "Jersey 10", sans-serif;
  color: white;
}


div ul li {
color: #ffffff;

    font-family: "Nunito Sans", sans-serif;


    cursor: pointer;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


.topskills-wrapper:hover .topskills-track {
  animation-play-state: paused;
}

#languages{

    display: flex;
    align-items: center;
    gap: 1rem;
}

div ul li span {
  font-size: 0.7rem;
    color: rgba(255, 255, 255);
}



#tools {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

}

#tools h4 {
    margin-bottom: 1rem;
display: flex;
align-items: center;
gap: 1rem;
  font-family: "Jersey 10", sans-serif;
  color: white;
}


#tools ul {
display: flex;
margin-left: 2rem;
gap: 1rem;
margin-bottom: 1rem;
font-size: 0.9rem;
}


#texter{
  width: 6rem;
}

#languages li span{
font-size: 1rem;
}

#txt{
  margin-left: 2rem;

    font-family: "Nunito Sans", sans-serif;
  color: white;
  font-size: 0.8rem;
}

#Languages{
  margin-top: 2rem;
}

#languages h5 {

    padding: 0.5rem 1rem;
    background: #4904A2;
    color: rgba(255, 255, 255, 0.533);
    border-radius: 10px;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;

  display: inline-flex;
  width: fit-content;
}


.gaper {
  margin-top: 2rem !important;
}



#Article-third {
    margin-top: 10rem;
}


#experience-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  width: 100%;

}

#experience-title {
  font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.956);
          font-family: "Nunito Sans", sans-serif;
}




#experience-about,
#experience-time,
#experience-where  {

      color: rgba(255, 255, 255, 0.956);
          font-family: "Nunito Sans", sans-serif;

}

#experience-settings{
display: flex;
flex-direction: column;
gap: 0.1rem;
}

#experience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 242px;
  width: 40%;
    background-color:#0E0E0E;
    padding: 2rem;
    border-radius: 10px;
}


#used-skills {
  display: flex;
gap: 1rem;
margin-top: auto;
}


#used-skills i{
 margin:0rem 0rem 0 0;

}
#used-skills h5{
color: #ffffff;
          font-family: "Nunito Sans", sans-serif;
  
}





#Article-fourth {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

#education-container {
  display: flex;

  gap: 4rem;
}

#education {
  width: 33%;
  display: flex;
  flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
        background-color:#0E0E0E;
        gap: 1rem;
}

#education-title {

  font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.956);
          font-family: "Nunito Sans", sans-serif;
}


#course-name {

  font-size: 1.3rem;
      color:#F7D000 ;
   font-family: "Jersey 10", sans-serif;
}


#course-dagree,
#course-time,
#grade {

  font-size: 1rem;
      color: rgba(255, 255, 255, 0.956);
          font-family: "Nunito Sans", sans-serif;
}

#badge i {
  color: #F7D000;
  display: flex;
  margin-left: 6rem;
  gap: 0.5rem;
}





#getting-skills{
color: #ffffff;
          font-family: "Nunito Sans", sans-serif;
display: flex;
gap: 1rem;
margin-top: 2rem;
margin-top: auto;
}


#getting-skills #skills {
          display: flex;
          flex-wrap: wrap;
gap: 0.5rem 1rem;
}

#used-skills i{
 margin:0rem 0rem 0 0;

}


















#Article-fifth {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


#video-container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
    justify-content: space-between;
}


#video p{
          font-family: "Nunito Sans", sans-serif;
  font-size: 0.8rem;

  margin: 1vh 0 0 1rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#video {
    width:341.34px;
}


#video-player {
  width:341.34px;
  height: 192px;
  background-color: #0E0E0E;
  border-radius: 1rem;

  position: relative;
}

#video-player button {
  background: none;
  border: 0;
  position: absolute;
  bottom: 20%;
  right: 15%;
  color: white;
  font-size: 1.2rem;
}
#video-player i {
  color: #ffffff;
    position: absolute;
  top: 10%;
  left: 5%;
}


#headline{

    color:#ffffff ;
          font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  height: 2rem;
  width: 90%;
  margin: 1vh 0 0 1rem;
  display: flex;
  justify-content: space-between;
}

#headline span i {
  color: #4904A2;
}

#tags {
    color:#ffffff ;
          font-family: "Nunito Sans", sans-serif;
  font-size: 0.7rem;

  margin: 0.5rem 0 0 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem 1rem;
}
#Article-fifth {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}





















#WhoAmI video{
width: 100%;
height: 100%;
 object-fit: cover;

    border-radius: 1rem;
}




#WhoAmI{
  width: 1280px;
  height:590px;
  background: #0E0E0E;
    margin: 0 auto;
    border-radius: 1rem;
    margin-top: 5rem;
        display: flex;
    justify-content: center;
    align-items: center;
        color:white ;
  font-family: "Jersey 10", sans-serif;
  font-size: 4rem;
}

