section {
height: 400vh;
    padding: 4rem;

}

img{
    width: 200px;
    height: 250px;
    border-radius: 1rem 1rem 0 0;
        background-color:#0E0E0E;
}

#Article-first {

    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}



#portfolio-text {

    width: 70%;

    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  font-family: "Jersey 10", sans-serif;
    background-color:#0E0E0E;
    padding: 2rem;
    border-radius: 20px;
}

#title{
    color:#4904A2 ;
  font-family: "Jersey 10", sans-serif;
  font-size: 2rem;
  height: 2rem;
}


#portfolio-text p {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: "Nunito Sans", sans-serif;
}


#Social {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: rgb(27, 27, 27);
    margin-top: 1rem;
color: #B5B5B5;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}




.fa-fire {
  color: #4904A2;
}



#Subtext{

    color: rgba(255, 255, 255, 0.533);
  font-family: "Jersey 10", sans-serif;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  letter-spacing: 0.2rem;

}


#topskills {
    display: flex; 
    gap: 1rem;
}





.topskills-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.topskills-track {
  display: flex;
  gap: 1rem;
  width: max-content;
  animation: scroll 20s linear infinite;

}

.topskills-track h5 {
    padding: 0.5rem 1rem;
    background: #4904A2;
    color: rgba(255, 255, 255, 0.533);
    border-radius: 10px;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


.topskills-wrapper:hover .topskills-track {
  animation-play-state: paused;
}

#languages{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#languages h5 {

    padding: 0.5rem 1rem;
    background: #4904A2;
    color: rgba(255, 255, 255, 0.533);
    border-radius: 10px;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;

  display: inline-flex;
  width: fit-content;
}




#Article-third {
    margin-top: 10rem;
}


#experience-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  width: 100%;

}

#experience-title {
  font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.956);
          font-family: "Nunito Sans", sans-serif;
}




#experience-about,
#experience-time,
#experience-where  {

      color: rgba(255, 255, 255, 0.956);
          font-family: "Nunito Sans", sans-serif;

}

#experience-settings{
display: flex;
flex-direction: column;
gap: 0.1rem;
}

#experience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 242px;
  width: 40%;
    background-color:#0E0E0E;
    padding: 2rem;
    border-radius: 10px;
}


#used-skills {
  display: flex;
gap: 1rem;
margin-top: auto;
}


#used-skills i{
 margin:0rem 0rem 0 0;

}
#used-skills h5{
color: #ffffff;
          font-family: "Nunito Sans", sans-serif;
  
}





#Article-fourth {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

#education-container {
  display: flex;

  gap: 4rem;
}

#education {
  width: 33%;
  display: flex;
  flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
        background-color:#0E0E0E;
        gap: 1rem;
}

#education-title {

  font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.956);
          font-family: "Nunito Sans", sans-serif;
}


#course-name {

  font-size: 1.3rem;
      color:#F7D000 ;
   font-family: "Jersey 10", sans-serif;
}


#course-dagree,
#course-time,
#grade {

  font-size: 1rem;
      color: rgba(255, 255, 255, 0.956);
          font-family: "Nunito Sans", sans-serif;
}

#badge i {
  color: #F7D000;
  display: flex;
  margin-left: 6rem;
  gap: 0.5rem;
}





#getting-skills{
color: #ffffff;
          font-family: "Nunito Sans", sans-serif;
display: flex;
gap: 1rem;
margin-top: 2rem;
margin-top: auto;
}


#getting-skills #skills {
          display: flex;
          flex-wrap: wrap;
gap: 0.5rem 1rem;
}

#used-skills i{
 margin:0rem 0rem 0 0;

}






#Article-fifth {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}



#Article-fifth div {
width: 45%;
}



#proffesion-skills{
  width: 80%;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
gap: 1rem;
}


#proffesion h3{
  color: #ffffff;
          font-family: "Nunito Sans", sans-serif;
}


#proffesion-skills {
    color: #ffffff;
          font-family: "Nunito Sans", sans-serif;
}























