

#Article-fourth {

  display: flex;
  flex-direction: column;
  gap: 5rem;

}

#education-container {
  display: flex;

  gap: 4rem;
}

#education {
  width: 33%;
  display: flex;
  flex-direction: column;
    padding: 2rem;
    border-radius: 10px;

        gap: 1rem;


  background: rgba(0, 0, 0, 0.42);
  backdrop-filter: blur(18px) saturate(140%);
  -webkit-backdrop-filter: blur(18px) saturate(140%);

  border: 1px solid rgba(255, 255, 255, 0.18);


  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.4),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);



}

#education-title {

  font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.956);
          font-family: "Nunito Sans", sans-serif;
}


#course-name {

  font-size: 1.3rem;
      color:#F7D000 ;
   font-family: "Jersey 10", sans-serif;
}


#course-dagree,
#course-time,
#grade {

  font-size: 1rem;
      color: rgba(255, 255, 255, 0.956);
          font-family: "Nunito Sans", sans-serif;
}

#badge i {
  color: #F7D000;
  display: flex;
  margin-left: 6rem;
  gap: 0.5rem;
}





#getting-skills{
color: #ffffff;
          font-family: "Nunito Sans", sans-serif;
display: flex;
gap: 1rem;
margin-top: 2rem;
margin-top: auto;
}


#getting-skills #skills {
          display: flex;
          flex-wrap: wrap;
gap: 0.5rem 1rem;
}

#used-skills i{
 margin:0rem 0rem 0 0;

}

