#Article-second {
  width: 100%;
  display: grid;
  grid-template-columns:  repeat(8, 1fr);
grid-template-rows:50px 1fr 20px 1fr 1fr 1fr;
gap: 3rem 0;
color: white;

}


article ul {
display: flex;

gap: 1rem;
}


#Subtext{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 9;

}


#mindset-ul{

  grid-column-start: 1;
  grid-column-end: 3;
  
}

#collaboration-ul{

  grid-column-start: 3;
  grid-column-end: 5;
}

#Storytelling-ul{

  grid-column-start: 5;
  grid-column-end: 7;
}

#Editing-ul{

  grid-column-start: 7;
  grid-column-end: 9;
}

#mindset-ul{

  grid-column-start: 1;
  grid-column-end: 3;
}


#mindset-ul,
#collaboration-ul,
#Storytelling-ul,
#Editing-ul,
#collaboration-ul
{

  grid-row-start: 2;
  grid-row-end: 3;
  flex-direction: column;
}


#tools-txt,
#personal-txt{
color: white;
}

#tools-txt{

  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start:1;
  grid-column-end: 6;

}

#editing-txt{

  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start:1;
  grid-column-end: 2;
  color: white;
align-self: center;
}

#editing-ul {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start:2;
  grid-column-end: 6;
  display: flex;
  align-items: center;
    color: white;
 gap: 1rem;
}


#editing-ul li{
          background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(18px) saturate(140%);
  -webkit-backdrop-filter: blur(18px) saturate(140%);

  border: 1px solid rgba(255, 255, 255, 0.18);
color: #ffffff;


  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.4),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
border-radius:10px;
height: 48px;
min-width: 48px;
display: flex;
align-items: center;
justify-content: center;

padding: 0px 10px;
}

#codeing-txt{
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start:5;
  grid-column-end: 6;
  color: white;
align-self: center;
}


#codeing-ul {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start:1;
  grid-column-end: 5;
  display: flex;
    color: white;
    align-self: center;
gap: 1rem;
    
}

#codeing-ul li {
            background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(18px) saturate(140%);
  -webkit-backdrop-filter: blur(18px) saturate(140%);

  border: 1px solid rgba(255, 255, 255, 0.18);
color: #ffffff;


  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.589),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
border-radius:10px;
height: 48px;
min-width: 48px;
display: flex;
align-items: center;
justify-content: center;

padding: 0px 10px;
}


#personal-txt{

  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start:6;
  grid-column-end: 9;

}

#hobies-ul{

  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start:6;
  grid-column-end: 8;
  flex-direction: column;


  
}

#languages-ul{

  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start:8;
  grid-column-end: 9;
  flex-direction: column;

}


