<nav>
<div id="name">

<div id="ico-container">
<img   src="premiere.png" alt=""> 
</div>

  <h1>{{ displayedText2 }}<span class="cursor">|</span></h1>

</div>

<div id="empty"></div>

<ul>

    <li></li>
    
<li
  routerLink="/"
   (mouseenter)="isFire= true"
         (mouseleave)="isFire = false"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  #mainRla="routerLinkActive"
>
  Main
  <i *ngIf="mainRla.isActive || isFire" class="fa-solid fa-fire"></i>
</li>
  

    
<li
  routerLink="/projects"
  routerLinkActive="active"
   (mouseenter)="isFire2= true"
         (mouseleave)="isFire2 = false"
  #projectsRla="routerLinkActive"
>
  Projects
  <i *ngIf="projectsRla.isActive || isFire2" class="fa-solid fa-fire"></i>
</li>


    
    <li   (mouseenter)="isFire3= true"
         (mouseleave)="isFire3 = false">Cv <i
         
     
        [ngClass]="isFire3 ? 'fa-solid fa-fire' : ''"></i></li>
    <li></li>
</ul>

<i class=""></i>



<div id="empty2"></div>
<div  (click)="nextLang()" id="languages">
<span >
  {{ currentLang }}
</span>
</div>
<div id="empty2"></div>

<div id="page-mode"
     (mouseenter)="onHoverEnter()"
     (mouseleave)="onHoverLeave()">
  
  <p>
    {{ displayedText }}   
    <i class="fa-moon" [ngClass]="isHover2 ? 'fa-solid' : 'fa-regular'"></i>
  </p>

</div>



</nav>